.collabignore
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
UnityLockFile
ehthumbs.db
ExportedObj/
Exportedobj/
exportedObj
exportedobj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

Build
build
sysinfo.txt
*.stackdump
thumbs.db
Thumbs.db
desktop.ini
Desktop.ini
obj/**

.idea/**
Library/**
Logs/**
